# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  # Schedule updates daily at 3 AM UTC
  schedule: [{cron: "0 3 * * *"}]
  # Run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          token: ${{ secrets.METRICS }}

          # Options
          user: levi2m
          template: classic
          base: header, activity, community, repositories, metadata
          config_display: large
          config_timezone: America/New_York

          # Calendar plugin
          plugin_calendar: yes
          plugin_calendar_limit: 1

          # Isocalendar (contribution calendar)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          # Languages plugin
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_recent_categories: markup, programming
          plugin_languages_recent_days: 14
          plugin_languages_recent_load: 300
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%

          # Topics plugin
          plugin_topics: yes
          plugin_topics_limit: 15
          plugin_topics_mode: starred
          plugin_topics_sort: stars

          # Repositories plugin
          plugin_repositories: yes
          plugin_repositories_pinned: 4

          # Licenses plugin
          plugin_licenses: yes
          plugin_licenses_setup: bash -c '[[ -f package.json ]] && npm ci || true'
          plugin_licenses_legal: no
          plugin_licenses_ratio: yes
